<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>proseomodule</name>
    <displayName><![CDATA[Pro SEO Module]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Modulo SEO professionale con schema markup, meta tags ottimizzati, Open Graph, Twitter Cards e gestione completa SEO per e-commerce.]]></description>
    <author><![CDATA[Pro SEO Team]]></author>
    <tab><![CDATA[seo]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
